.article {
    max-width: 350px;

    &--img {

    }

    &--descr{
        
    }

    &--date {
        font-family: Arial !important;
        font-size: 11px !important;
        color: #767676 !important;
    }

    &--title {
        font-family: "Springville" !important;
        font-size: 48px !important;
        line-height: 48px !important;
    }

    &--articles {
        margin: 0 auto;
    }
}
