.article {
    
    max-width: 350px;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 !important;
    padding-bottom: 50px !important;
    border-bottom: solid 1px #DBDBDB !important;
    background-color: #ffffff;

    &--descr{
        padding: 0px !important;
        background-color: #fff !important;
    }

    &--date {
        padding: 50px 0 !important;
        font-family: Arial !important;
        font-size: 11px !important;
        color: #767676 !important;
    }

    &--title {
        font-family: "Springville" !important;
        font-size: 48px !important;
        line-height: 48px !important;
        letter-spacing: -1.8px !important;
        word-spacing: 9px !important;
        padding-bottom: 35px !important;

        &:hover {
            text-decoration: underline;
            cursor: grab;
        }
    }

    &--author {
        font-family: "ACaslsonPro" !important;
        font-size: 14px !important;
    }

    &--articles {
        margin: 0 auto;
    }
}
