.carousel {

    &-data{
        max-width: 1440px;
        width: 100vw;
        height: 100%;
        background-color: transparent;
        margin: 0 !important;

        &--img {
            display: block;
            height: 100% !important;
            width: 100vw !important;
            margin: 0 !important;
            object-fit: fill !important;
        }

        &--headline {
            font-size: 60px;
            top: 50%;
            //font-family: Springville
    
        }
        &--date {
            font-size: 30px;
            top: 55%;
            //font-family: ACasslonPro
        } 
        &--descr {
            font-size: 18px;
            top: 60%;
            //font-familey  ACasslonPro
        }
    }
  
    .rcs_slideCon {
        height: 100% !important;
    }
    
    .itemWrapper img {
        width: 100vw !important;
    }
}