.carousel {
    max-width: 1440px;
    width: 100vw;
    height: 100%;
    background-color: #fff;

    &--img {
        max-width: 1440px;
        min-height: 480px;
        display: block;
        width: 100%;
        height: 100% !important;
        overflow: hidden;
        object-fit: cover !important;
    }

    &--details {
        position: absolute;
        top: 35%;
        color: #fff;
        display: flex;
        flex-direction: column;
        margin-left: calc(100vw / 12);
    
        & > p {
            background-color: transparent !important;
        }
    }

    &--label, &--headline {
        font-size: 60px;
    }

    &--date {
        font-size: 30px;
    } 

    &--descr {
        font-size: 18px;
        margin-right: 40%;
        text-align: left;
    }

    &--date, &--headline,  &--label {
        margin-bottom: 10px;
        background-color: transparent !important;
        max-width: 650px;
        text-align: left !important;
        font-family: "ACasslonPro" !important;
    }


    @media screen and (max-width: 769px) {
        &--label, &--headline {
            font-size: 40px;
        }
    }
    
    @media screen and (max-width: 575px) {
        &--details {
            margin: calc(100vw / 24);  
        }

        &--label, &--headline {
            font-size: 28px;
        }

        &--date {
            font-size: 14px;
        }

        &--descr {
            font-size: 12px;;
        }
    }
}


/* react-responsive slider overvides*/
.carousel .slide {
    background-color: transparent !important;
}
.carousel .carousel-slider {
    overflow: unset !important;
}
.slider .animated {
    transition-duration: 5000ms !important;
}
.carousel .control-dots {
    bottom: -30px !important;
}
.carousel .control-dots .dot {
    box-shadow: 1px 1px 2px #e1e1e1!important;
    background: #e1e1e1 !important;
    width: 10px !important;
    height: 10px !important;
    z-index: 10 !important;
    opacity: 0.502;
    cursor: grab;
}
.carousel .control-dots .dot.selected, 
.carousel .control-dots .dot:hover {
    cursor: grab;
    opacity: 1;
}




